@model User

@{
    ViewBag.Title = "Register Page";
    Layout = "_NoLayout";
}
<body>
<div class="container">

    <div class="signin-signup">
        <form asp-action="Login" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input asp-for="Username" type="text" placeholder="Username">
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input asp-for="Password" type="password" placeholder="Password">
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <button type="submit" value="Login" class="btn">Sign In</button>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            <p class="social-text">Or Sign in with social platform</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
        </form>
        <form asp-action="Index" method="post" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input asp-for="Username" placeholder="Username"/>
            </div>
            <span asp-validation-for="Username" class="text-danger"></span>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input asp-for="Password" type="password" placeholder="Password"/>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input asp-for="Email" type="email" placeholder="Email"/>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="input-field">
                <i class="fa-solid fa-person"></i>
                <input asp-for="FullName" placeholder="FullName"/>
            </div>
            <span asp-validation-for="FullName" class="text-danger"></span>
            <div class="input-field">
                <i class="fa-solid fa-phone"></i>
                <input asp-for="PhoneNumber" placeholder="PhoneNumber"/>
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            <div class="input-field">
                <i class="fa-solid fa-location-dot"></i>
                <input asp-for="Address" placeholder="Address"/>
            </div>
            <span asp-validation-for="Address" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Role">Role:</label>
                <select asp-for="Role" class="form-control">
                    <option value="Customer">Customer</option>
                    <!-- Add more role options if needed -->
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <button type="submit" class="btn">Sign Up</button>
            <p class="social-text">Or Sign in with social platform</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
        </form>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Member of Brand?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt minima iure?</p>
                <button class="btn" id="sign-in-btn">Sign in</button>
            </div>
            @* <div class="pyramid-loader"> *@
            @*     <div class="wrapper"> *@
            @*         <span class="side side1"></span> *@
            @*         <span class="side side2"></span> *@
            @*         <span class="side side3"></span> *@
            @*         <span class="side side4"></span> *@
            @*         <span class="shadow"></span> *@
            @*     </div> *@
            @* </div> *@
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>New to Brand?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt minima iure?</p>
                <button class="btn" id="sign-up-btn">Sign up</button>
            </div>
            <img src="signup.svg" alt="" class="image">
        </div>
    </div>
</div>
<script src="~/js/script.js"></script>
</body>