<!DOCTYPE html>
<html>
<head>
    <title>Styling trong CSHTML</title>
    <style>
        h1{
        color: #0a53be;
        }
        
    </style>
</head>
<body>

<div style="background-color: #ff00007d ; padding: 20px;">
    <h1 style=" text-align: center;">Bạn không có quyền truy cập trang web</h1>
    <p style="font-size: 16px; line-height: 1.6;text-align: center">Không lợi dụng lỗ hổng web dưới mọi hình thức</p>
</div>

</body>
</html>