@model dynamic
@{
    Layout = "_Layout";
}
<body>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Page</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index">
                        Home
                        <span >
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </a>
                    <a asp-action="Blog">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="https://supersports.com.vn/cdn/shop/articles/522_460_V_847d5bf9-016f-4dfc-959f-b57bbe27e8c9.jpg?v=1711963312" alt="post" style="">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="#">
                                <h5>Fila Sale Hè</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Khám phá những ưu đãi không thể bỏ lỡ từ Fila trong mùa sale hè này!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="https://supersports.com.vn/cdn/shop/articles/Thiet_ke_chua_co_ten.jpg?v=1710588157&width=522" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="#">
                                <h5>Mẫu giày mới</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Những mẫu giày hot nhất tháng 6</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="https://supersports.com.vn/cdn/shop/articles/Thiet_ke_chua_co_ten_2.jpg?v=1712819944&width=522" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="#">
                                <h5>Đồ thể thao</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Quần áo thể thao thoải mái</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="blog_left_sidebar">
<article class="row blog_item">
    <div class="col-md-3">
        <div class="blog_info text-right">
            <div class="post_tag">
                <a href="#">Giày thể thao</a>
                <a class="active" href="#">Áo thể thao</a>
                <a href="#">Phụ kiện</a>
                <a href="#">Balo và Túi</a>
            </div>
            <ul class="blog_meta list">
                <li>
                    <a href="#">Trinh Van Hao<i class="lnr lnr-user"></i></a>
                </li>
                <li>
                    <a href="#">12 Dec, 2024<i class="lnr lnr-calendar-full"></i></a>
                </li>
                <li>
                    <a href="#">1.2M Views<i class="lnr lnr-eye"></i></a>
                </li>
                <li>
                    <a href="#">06 Comments<i class="lnr lnr-bubble"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="blog_post">
            <img src="https://supersports.com.vn/cdn/shop/articles/top-5-doi-giay-sneaker-hot-trend-2024.jpg?v=1703657655" alt="">
            <div class="blog_details">
                <a href="#">
                    <h2>Bài viết về lợi ích của việc tập thể thao đối với sức khỏe</h2>
                </a>
                <p>
                    Khám phá chi tiết về các lợi ích to lớn mà việc tham gia vào các hoạt động thể thao mang lại cho sức khỏe của bạn. Từ việc cải thiện tâm trạng đến sự gia tăng sức mạnh vật lý và tinh thần, bài viết này sẽ phân tích một cách chi tiết những cải thiện đáng kể trong cuộc sống của bạn khi bạn thực hiện các hoạt động thể thao thường xuyên.
                </p>
                <a href="#" class="white_bg_btn">View More</a>
            </div>
        </div>
    </div>
</article>
<article class="row blog_item">
    <div class="col-md-3">
        <div class="blog_info text-right">
            <div class="post_tag">
                <a href="#">Giày thể thao</a>
                <a class="active" href="#">Áo thể thao</a>
                <a href="#">Phụ kiện</a>
                <a href="#">Balo và Túi</a>
            </div>
            <ul class="blog_meta list">
                <li>
                    <a href="#">Trinh Van Hao<i class="lnr lnr-user"></i></a>
                </li>
                <li>
                    <a href="#">12 Dec, 2024<i class="lnr lnr-calendar-full"></i></a>
                </li>
                <li>
                    <a href="#">1.2M Views<i class="lnr lnr-eye"></i></a>
                </li>
                <li>
                    <a href="#">06 Comments<i class="lnr lnr-bubble"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="blog_post">
            <img src="https://supersports.com.vn/cdn/shop/articles/Them_tieu_de_phu.jpg?v=1710326892" alt="">
            <div class="blog_details">
                <a href="single-blog.html">
                    <h2>Hướng Dẫn Chọn Lựa Đồ Thể Thao Phù Hợp Cho Mọi Hoạt Động</h2>
                </a>
                <p>
                    Từ bơi lội đến yoga và gym, việc chọn đúng đồ thể thao có thể quyết định đến hiệu suất và thoải mái khi tập luyện. Bài viết này cung cấp hướng dẫn chi tiết và gợi ý để bạn có thể chọn lựa đồ thể thao phù hợp nhất cho mỗi loại hoạt động, giúp bạn tận hưởng mọi buổi tập mà không gặp phải bất kỳ khó khăn nào.
                </p>
                <a href="#" class="white_bg_btn">View More</a>
            </div>
        </div>
    </div>
</article>
<article class="row blog_item">
    <div class="col-md-3">
        <div class="blog_info text-right">
            <div class="post_tag">
                <a href="#">Food,</a>
                <a class="active" href="#">Technology,</a>
                <a href="#">Politics,</a>
                <a href="#">Lifestyle</a>
            </div>
            <ul class="blog_meta list">
                <li>
                    <a href="#">Trinh Van Hao<i class="lnr lnr-user"></i></a>
                </li>
                <li>
                    <a href="#">12 Dec, 2024<i class="lnr lnr-calendar-full"></i></a>
                </li>
                <li>
                    <a href="#">1.2M Views<i class="lnr lnr-eye"></i></a>
                </li>
                <li>
                    <a href="#">06 Comments<i class="lnr lnr-bubble"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="blog_post">
            <img src="https://supersports.com.vn/cdn/shop/articles/Thiet_ke_chua_co_ten_3.jpg?v=1714039120" alt="">
            <div class="blog_details">
                <a href="single-blog.html">
                    <h2>Cẩm Nang Chăm Sóc Đồ Thể Thao: Bí Quyết Bảo Quản Sản Phẩm Lâu Dài</h2>
                </a>
                <p>
                    Để đảm bảo đồ thể thao của bạn luôn giữ được chất lượng tốt nhất và tuổi thọ cao, việc chăm sóc và bảo quản chúng là rất quan trọng. Trong bài viết này, bạn sẽ tìm hiểu về những mẹo và kinh nghiệm chăm sóc đồ thể thao như giày thể thao, quần áo, và dụng cụ tập gym để chúng luôn giữ được hiệu suất tốt nhất.
                </p>
                <a href="single-blog.html" class="white_bg_btn">View More</a>
            </div>
        </div>
    </div>
</article>
<article class="row blog_item">
    <div class="col-md-3">
        <div class="blog_info text-right">
            <div class="post_tag">
                <a href="#">Food,</a>
                <a class="active" href="#">Technology,</a>
                <a href="#">Politics,</a>
                <a href="#">Lifestyle</a>
            </div>
            <ul class="blog_meta list">
                <li>
                    <a href="#">Mark wiens<i class="lnr lnr-user"></i></a>
                </li>
                <li>
                    <a href="#">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a>
                </li>
                <li>
                    <a href="#">1.2M Views<i class="lnr lnr-eye"></i></a>
                </li>
                <li>
                    <a href="#">06 Comments<i class="lnr lnr-bubble"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="blog_post">
            <img src="https://supersports.com.vn/cdn/shop/articles/Thiet_ke_chua_co_ten.jpg?v=1710588157" alt="">
            <div class="blog_details">
                <a href="single-blog.html">
                    <h2>So Sánh và Đánh Giá: Cẩm Nang Mua Sắm Trang Phục và Giày Thể Thao</h2>
                </a>
                <p>
                  Với nhiều lựa chọn từ các thương hiệu phổ biến, việc chọn lựa trang phục và giày thể thao phù hợp có thể trở nên khó khăn. Bài viết này sẽ cung cấp một phân tích chi tiết và so sánh các loại sản phẩm từ các thương hiệu nổi tiếng, giúp bạn có thể chọn lựa sản phẩm phù hợp với nhu cầu và mong muốn của mình.
                </p>
                <a href="single-blog.html" class="white_bg_btn">View More</a>
            </div>
        </div>
    </div>
</article>
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
                <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                </span>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">01</a>
        </li>
        <li class="page-item active">
            <a href="#" class="page-link">02</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">03</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">04</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">09</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
                <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                </span>
            </a>
        </li>
    </ul>
</nav>
</div>
</div>
<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="lnr lnr-magnifier"></i>
                    </button>
                </span>
            </div><!-- /input-group -->
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget author_widget">
            <img class="author_img rounded-circle" src="~/images/blog/author.png" alt="">
            <h4>Charlie Barber</h4>
            <p>Senior blog writer</p>
            <div class="social_icon">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-github"></i>
                </a>
                <a href="#">
                    <i class="fa fa-behance"></i>
                </a>
            </div>
            <p>
                Boot camps have its supporters andit sdetractors. Some people do not understand why you
                should have to spend money on boot camp when you can get. Boot camps have itssuppor
                ters andits detractors.
            </p>
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Popular Posts</h3>
            <div class="media post_item">
                <img src="~/images/blog/popular-post/post1.jpg" alt="post">
                <div class="media-body">
                    <a href="blog-details.html">
                        <h3>Space The Final Frontier</h3>
                    </a>
                    <p>02 Hours ago</p>
                </div>
            </div>
            <div class="media post_item">
                <img src="~/images/blog/popular-post/post2.jpg" alt="post">
                <div class="media-body">
                    <a href="blog-details.html">
                        <h3>The Amazing Hubble</h3>
                    </a>
                    <p>02 Hours ago</p>
                </div>
            </div>
            <div class="media post_item">
                <img src="~/images/blog/popular-post/post3.jpg" alt="post">
                <div class="media-body">
                    <a href="blog-details.html">
                        <h3>Astronomy Or Astrology</h3>
                    </a>
                    <p>03 Hours ago</p>
                </div>
            </div>
            <div class="media post_item">
                <img src="~/images/blog/popular-post/post4.jpg" alt="post">
                <div class="media-body">
                    <a href="blog-details.html">
                        <h3>Asteroids telescope</h3>
                    </a>
                    <p>01 Hours ago</p>
                </div>
            </div>
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget ads_widget">
            <a href="#">
                <img class="img-fluid" src="~/images/blog/add.jpg" alt="">
            </a>
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Post Catgories</h4>
            <ul class="list cat-list">
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Technology</p>
                        <p>37</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lifestyle</p>
                        <p>24</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Fashion</p>
                        <p>59</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Art</p>
                        <p>29</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Food</p>
                        <p>15</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Architecture</p>
                        <p>09</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Adventure</p>
                        <p>44</p>
                    </a>
                </li>
            </ul>
            <div class="br"></div>
        </aside>
        <aside class="single-sidebar-widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>
            <p>
                Here, I focus on a range of items and features that we use in life without
                giving them a second thought.
            </p>
            <div class="form-group d-flex flex-row">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                </div>
                <a href="#" class="bbtns">Subcribe</a>
            </div>
            <p class="text-bottom">You can unsubscribe at any time</p>
            <div class="br"></div>
        </aside>
        <aside class="single-sidebar-widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>
            <ul class="list">
                <li>
                    <a href="#">Technology</a>
                </li>
                <li>
                    <a href="#">Fashion</a>
                </li>
                <li>
                    <a href="#">Architecture</a>
                </li>
                <li>
                    <a href="#">Fashion</a>
                </li>
                <li>
                    <a href="#">Food</a>
                </li>
                <li>
                    <a href="#">Technology</a>
                </li>
                <li>
                    <a href="#">Lifestyle</a>
                </li>
                <li>
                    <a href="#">Art</a>
                </li>
                <li>
                    <a href="#">Adventure</a>
                </li>
                <li>
                    <a href="#">Food</a>
                </li>
                <li>
                    <a href="#">Lifestyle</a>
                </li>
                <li>
                    <a href="#">Adventure</a>
                </li>
            </ul>
        </aside>
    </div>
</div>
</div>
</div>
</section>
<!--================Blog Area =================-->


</body>