@model dynamic
@{
    Layout = "_Layout";
}
<body>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Contact Us</h1>
                <nav class="d-flex align-items-center">
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </a>
                    <a href="#">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
    <div class="container">
        <div class="d-flex justify-content-center m-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.112005852713!2d105.7544583751029!3d20.94801668068119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313452eac0f6d383%3A0x64c60a0d30589702!2zxJDhuqFpIEjhu41jIMSQ4bqhaSBOYW0!5e0!3m2!1sen!2s!4v1716736221915!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="fa-solid fa-house"></i>
                        <h6>Hà Nội, Việt Nam</h6>
                        <p>Đại Học Đại Nam</p>
                    </div>
                    <div class="info_item">
                        <i class="fa-solid fa-phone"></i>
                        <h6>
                            <a href="#">0358 365 493 - 0777 759 008</a>
                        </h6>
                        <p>Số điện thoại di động</p>
                    </div>
                    <div class="info_item">
                        <i class="fa-regular fa-envelope"></i>
                        <h6>
                            <a href="#">haotrinh142@gmail.com</a>
                        </h6>
                        <p>Mọi phản hồi gửi về email này !</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <form class="row contact_form"  asp-action="Contact" asp-controller="Home" method="post" method="post" id="contactForm" novalidate="novalidate">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="primary-btn">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->

</body>